@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

.App {
  background-color: #3B3C42;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family:'Oxygen', sans-serif;
}
